#!/bin/bash
set -eu -o pipefail
safe_source () { [[ ! -z ${1:-} ]] && source $1; _dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"; _sdir=$(dirname "$(readlink -f "$0")"); }; safe_source
# end of bash boilerplate

cd $_sdir
[[ "${1:-}" = "--background" ]] && HEADLESS=true || HEADLESS=false
source /home/ceremcem/.sbin/erik-sync/service-runner/tmux-launch
#safe_source $_sdir/tmux-launch
launch-service $(calc-session-name $(readlink -f "$0")) # dirname-scriptname

# run commands in tmux session
run-in-tmux "./scrub/poll.sh"
run-in-tmux "cd ./targets/peynir/" "./poll-attached.sh"
run-in-tmux "cd ./targets/kanat/" "./poll-attached.sh"
run-in-tmux "cd ./targets/rootfs" "./periodic-snapshot.sh"
run-in-tmux "cd ./targets/zencefil/" "./poll.sh"
run-in-tmux 'sudo watch -n 100 "./targets/rootfs/backup-status.sh"'
