#!/bin/bash
set -eu -o pipefail
safe_source () { [[ ! -z ${1:-} ]] && source $1; _dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"; _sdir=$(dirname "$(readlink -f "$0")"); }; safe_source
# end of bash boilerplate

cd $_sdir
[[ "${1:-}" = "--background" ]] && HEADLESS=true || HEADLESS=false
source /home/ceremcem/.sbin/erik-sync/service-runner/tmux-launch
#safe_source $_sdir/tmux-launch
launch-service $(calc-session-name $(readlink -f "$0")) # dirname-scriptname

# run commands in tmux session
run-in-tmux "sudo ./on-idle/on-idle.sh 00:01:00 ./scrub/scrub-mounted.sh"
run-in-tmux "sudo ./on-idle/on-idle.sh 0:02:00 ./targets/masa/auto.sh"
run-in-tmux "cd $_sdir/targets/rootfs" 'sudo ./periodic-snapshot.sh'
run-in-tmux "cd ./targets/zencefil/" "sudo bash -c -i 'while sleep 1; do ./poll.sh; done'"
run-in-tmux "./backup-status.sh | less"
